/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Small screens (default) */
body {
  margin: 0;
  background-color: white;
  display: block;
}

/*header */
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#top-header span,
#top-header div {
  margin: 20px 0;
}

#top-header span a{
  font-size: 40px;
  color: black;
  text-decoration: none;

}

#top-header div a {
  font-size: 16px;
  text-align: right;
  align-items: flex-end;
  font-variant: small-caps ;
  text-decoration: none;
  color: black;
}

/*navigation*/
nav {
  background-color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  list-style: none;
  font-size: 16px;

}

nav li{
  padding: 15px 20px;
}

nav li a {
  color: white;
  text-decoration: none;
}


/*dolorean image*/
.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

.background {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

h2 {
  font-size: 18px;
  margin: 0;
}

.caption {
  position: absolute;
  top: 10px;
  left: 5px;
  background: rgba(250, 250, 250, 0.85);
  color: rgb(103, 169, 190);
  padding: 8px 10px;
  font-size: 16px;
  margin: 0;
}

.caption p {
  margin: 5px 0;
}

.caption button {
  background-color: rgb(103, 169, 190);
  color: black;
  border: none;
  font-weight: bold;
  padding: 10px 5px;
  font-size: 16px;
  margin: 0;
}


/*reviews section*/
.reviews h3 {
  font-size: 25px;

}

.reviews ul li {
  font-size: 18px;
  padding: .5rem;
}



/*upgrades section*/
.upgrades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:5px;
}

.upgrade-section h3 {
  font-size: 25px;
}

figure {
  margin: 5px;
}

.square {
  background-color: rgb(103, 169, 190);
  border: 1px solid black;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upgrades img {
  width: 85px;
  height: 85px;
}

figcaption {
  text-align: center;

}

figcaption a {
  color: blue;
  font-size: 20px;
}

/*footer*/
footer p{
  font-size: 16px;

}

.sections {
  content: "";
  display: block;
  clear: both;
}

/*car items*/
#inv-display {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#inv-display li{
  flex: 1 1 200px;
  max-width: 250px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border:1px solid black;
  margin: 10px;
  list-style: none;
  border-radius: 10px;
  width: 300px;
}

ul#inv-display li img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  padding-bottom: 20px;
}

#inv-display li .namePrice {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 3px solid black;
}


/* vehicle information page*/
#vehicle-page h1 {
  margin-left: 50px;
}

.vehicle-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.vehicle-detail img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.vehicle-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vehicle-info p {
  background-color: white;
  padding: 0.5rem;
}

.vehicle-info p:nth-child(even) {
  background-color: lightgray;
}


/* form section */
.form-container {
  background-color: rgb(42, 152, 188);
  padding: 20px;
  border-radius: 2px;
  width: 350px;
  color: white;
  text-align: left;
  margin: 30px auto;
}

.account-form label {
  color: black;
  margin: 20px auto 10px auto;
  font-size: 18px;
}

.account-form input {
  width: 85%;
  padding: 16px;
  border: none;
  margin-bottom: 18px;
  font-size: 12px;
  background: white;
  color: black;
}

.account-form p {
  color: black;

}

.account-form button {
  width: auto;
  padding: 12px;
  background: white;
  color: black;
  border: 1px solid black;
  font-size: 15px;
  cursor: pointer;
}

.account-form button:hover {
  background: #0b3a86;
}

.no-account {
  margin-top: 15px;
  color: black;
}

/*input pseudo classes for coreect info*/
input:required:valid {
  border-left: 5px solid green;
}

input:required:invalid {
  border-left: 5px solid red;
}

/*inventory management*/
.inv-management {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

.btn {
  padding: 5px;
  font-size: 18px;
}

/*add classification inventory */
.add-class-form,
.add-inventory-form {
  background-color: rgb(42, 152, 188);
  padding: 20px;
  margin: 2rem 1rem;
  max-width: 800px
}

.add-class-form h1,
.add-inventory-form h1 {
  text-align: center;
}

.add-class-form form,
.add-inventory-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border: 1px solid white;
}

.add-class-form label {
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
}

.add-inventory-form label {
  display: block;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.add-class-form input,
.add-inventory-form input,
.add-inventory-form textarea,
.add-inventory-form select {
  font-size: 16px;
  padding: .5rem;
  border-radius: 2px;
  margin-top: .3rem;
  width: 100%;
}

.add-inventory-form textarea {
  resize: vertical;
  min-height: 100px;
}

.add-class-form button,
.add-inventory-form button {
  display: block;
  width: 90%;
  font-size: 16px;
  padding: .5rem;
  margin: 5px auto;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}


/* upgrades page */
.upgrade-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  padding: 10px;

}

.upgrade-card {
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  min-width: 150px;
  max-width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upgrade-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.upgrade-card h2 {
  font-size: 22px;
  margin: 10px 0;
  padding: 10px;
  border-top: 2px solid black;
}

.upgrade-button {
  padding: 10px;
}


/* upgrade details page */
.upgrade-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

h1 {
  text-align: center;
}

.upgrade-details img {
  width: 300px;
}

.upgrade-details p {
  background-color: rgba(175, 175, 175, 0.984);
  padding: 10px;
}

.upgrade-details p:nth-of-type(even) {
  background-color: white;
}

.upgrade-details a {
  text-align: center;
}

@media screen and (min-width: 500px) {

  /*ckeckered background*/
  body {
    margin: 0;
    background-image: url('/images/site/checkerboard.jpg');
    background-repeat: repeat;
    background-size: 400px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*white background*/
  #wrapper {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 850px;
    width: 85%;
    margin: 10px auto;
    border: 6px solid rgb(103, 169, 190);
  }

  nav ul {
    font-size: 20px;
  }

  /* upgrade details page */
  .upgrade-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
  }

  .upgrade-details img {
    max-width: 300px;
  }

}


@media screen and (min-width: 500px) {
  /*ckeckered background*/
  body {
    margin: 0;
    background-image: url('/images/site/checkerboard.jpg');
    background-repeat: repeat;
    background-size: 400px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*white background*/
  #wrapper {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 850px;
    width: 85%;
    margin: 10px auto;
    border: 6px solid rgb(103, 169, 190);
  }

  nav ul {
    font-size: 20px;
  }

}



@media screen and (min-width: 800px) {
  /*layout change upgrades and reviews*/
  .upgrade-section {
    float: left;
    width: 55%;
  }

  .reviews {
    float: right;
    width: 45%;
  }

  footer {
    clear: both;
    padding: 20px;

  }

  h2 {
    font-size: 25px;
  }
  .caption {
    position: absolute;
    top: 30px;
    left: 15px;
    font-size: 20px;
    padding: 20px;
  }

  .caption p {
    margin: 15px 0;
  }

  .caption button {
    font-size: 20px;
  }

  /* vehicle information page*/
  .vehicle-detail {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }

  .vehicle-detail img {
    width: 70%;
  }

  .vehicle-info {
    width: 30%;
    align-items: flex-start;
    text-align: left;
  }
}
