<h1><%= title %></h1>
<% if (message) { %>
    <div class="flash-message">
        <%= message %>
    </div>
<% } %>
<div class="inv-management">
    <a class="btn" href="/inv/add-classification">Add Classification</a>
    <a class="btn" href="/inv/add-inventory">Add Inventory</a>
</div>
<h2>Manage Inventory</h2>
<p>Select a classification fro mthe list to see it's items</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>Javascript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
