<main>
    <h1><%= title %></h1>
    <% if (message) { %>
        <div class="flash-message">
            <%= message %>
        </div>
    <% } %>
    <div>
        <a class="btn" href="/inv/add-classification">Add Classification</a>
        <a class="btn" href="/inv/add-inventory">Add Inventory</a>
    </div>
</main>